In [1]:
from dotenv import load_dotenv
import os
load_dotenv()

True

In [2]:
os.getenv("GOOGLE_APPLICATION_CREDENTIALS")

'SA.json'

In [3]:
from pandas_gbq import read_gbq
query = """
SELECT *
FROM `mineria-msc.M9.tabla_base` 

"""
df = read_gbq(
    query,
    project_id="mineria-msc",
    dialect="standard",
    location="US"
)

Downloading: 100%|██████████|

In [16]:
df.head()

,activityid,coauthor_index,authorid,first_name,middle_initial,last_name,percent_contribution,same_school,coauthor_facultyid,scholarly_activity_id,coauthor_id,coauthor_raw_json,created_at
0,10002,0,51852,Aubrey,,Johnston,0,<NA>,None,10002,51852,"{""firstname"":""Aubrey"",""middleinitial"":"""",""last...",2025-11-21 20:48:48.985271+00:00
1,10002,51851,51851,Marie,Claudio,Cintron,0,<NA>,None,10002,51851,"{""firstname"":""Marie"",""middleinitial"":""Claudio""...",2025-11-21 20:48:48.985271+00:00
2,10002,51852,51853,Rajesh,,Nagarajan,0,<NA>,113083415,10002,113083415,"{""firstname"":""Rajesh"",""middleinitial"":"""",""last...",2025-11-21 20:48:48.985271+00:00
3,10003,0,51855,Christi,,Nogle,0,<NA>,111303929,10003,111303929,"{""firstname"":""Christi"",""middleinitial"":"""",""las...",2025-11-21 20:48:48.985271+00:00
4,10003,0,51858,Elizabeth,Lester,Barnes,0,<NA>,112049116,10003,112049116,"{""firstname"":""Elizabeth"",""middleinitial"":""Lest...",2025-11-21 20:48:48.985271+00:00

In [17]:
df.shape

(1000, 13)

In [11]:
import pandas as pd
from pandas_gbq import to_gbq
df_to_write = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2': ['a', 'b', 'c']
})
to_gbq(df_to_write, 'Ordenes.new_table', project_id='gen-lang-client-0721975631', if_exists='replace') # Reemplaza la tabla si ya existe

In [16]:
#to_gbq(df_to_write, 'Ordenes.new_table', project_id='gen-lang-client-0721975631', if_exists='fail') # Causa un error si la tabla ya existe
to_gbq(df_to_write, 'Ordenes.new_table', project_id='gen-lang-client-0721975631', if_exists='append') #Agrega los datos a la tabla existente

AttributeError: 'TextFileReader' object has no attribute 'head'

In [20]:

#importar un csv desde spreadsheets 
import os
csv = os.getenv("SOURCE_BUCKET")
print(csv)
data = pd.read_csv(csv)
data.head()

https://docs.google.com/spreadsheets/d/1tL3P-X7gVQZYXCHbl1XuuzUBtqOrpMwKJoUTXZT7vB4/export?format=csv

,transaction_id,user_id,status,amount,currency,paid_at
0,29788386-f98b-4067-95fd-11c506d755d7,user_021,COMPLETA,373.36,USD,2025-05-06 7:08:00
1,63a5f32e-004c-4935-92fc-92e9c1a313ba,user_024,COMPLETA,372.93,USD,2025-02-14 18:27:00
2,f57ea20f-b9ab-4552-9814-86f05d8e50a1,user_002,COMPLETA,117.13,USD,2025-09-16 19:01:00
3,53bdb1f6-da9c-4da5-b9a1-f872fb6dd83f,user_018,COMPLETA,328.44,USD,2025-08-03 7:28:00
4,1aea242a-017f-4373-b557-4b82a1b4ec39,user_019,COMPLETA,435.96,USD,2025-03-23 22:27:00

In [ ]:
delta_chunks = 12000
#carga por chunks a bigquery
for i, chunk in enumerate(pd.read_csv(csv, chunksize=delta_chunks)):
    print(f"Cargando chunk {i+1}")
    print(chunk.head())
    print(f"Chunk {i+1} cargado exitosamente")

In [24]:
delta_chunks = 12000
skip_chunks = 75  # Número de chunks ya cargados exitosamente

#carga por chunks a bigquery, continuando desde el chunk 76
for i, chunk in enumerate(pd.read_csv(csv, chunksize=delta_chunks)):
    if i < skip_chunks:
        print(f"Saltando chunk {i+1} (ya cargado)")
        continue
    
    print(f"Cargando chunk {i+1}")
    try:
        to_gbq(chunk, 'Ordenes.transaction', project_id='gen-lang-client-0721975631', if_exists='append')
        print(f"Chunk {i+1} cargado exitosamente")
    except Exception as e:
        print(f"Error en chunk {i+1}: {str(e)}")
        print(f"Reinicia desde skip_chunks = {i}")
        break

Saltando chunk 1 (ya cargado)
Saltando chunk 2 (ya cargado)
Saltando chunk 3 (ya cargado)
Saltando chunk 4 (ya cargado)
Saltando chunk 5 (ya cargado)
Saltando chunk 6 (ya cargado)
Saltando chunk 7 (ya cargado)
Saltando chunk 8 (ya cargado)
Saltando chunk 9 (ya cargado)
Saltando chunk 10 (ya cargado)
Saltando chunk 11 (ya cargado)
Saltando chunk 12 (ya cargado)
Saltando chunk 13 (ya cargado)
Saltando chunk 14 (ya cargado)
Saltando chunk 15 (ya cargado)
Saltando chunk 16 (ya cargado)
Saltando chunk 17 (ya cargado)
Saltando chunk 18 (ya cargado)
Saltando chunk 19 (ya cargado)
Saltando chunk 20 (ya cargado)
Saltando chunk 21 (ya cargado)
Saltando chunk 22 (ya cargado)
Saltando chunk 23 (ya cargado)
Saltando chunk 24 (ya cargado)
Saltando chunk 25 (ya cargado)
Saltando chunk 26 (ya cargado)
Saltando chunk 27 (ya cargado)
Saltando chunk 28 (ya cargado)
Saltando chunk 29 (ya cargado)
Saltando chunk 16 (ya cargado)
Saltando chunk 17 (ya cargado)
Saltando chunk 18 (ya cargado)
Saltando chunk 19 (ya cargado)
Saltando chunk 20 (ya cargado)
Saltando chunk 21 (ya cargado)
Saltando chunk 22 (ya cargado)
Saltando chunk 23 (ya cargado)
Saltando chunk 24 (ya cargado)
Saltando chunk 25 (ya cargado)
Saltando chunk 26 (ya cargado)
Saltando chunk 27 (ya cargado)
Saltando chunk 28 (ya cargado)
Saltando chunk 29 (ya cargado)
Saltando chunk 30 (ya cargado)
Saltando chunk 31 (ya cargado)
Saltando chunk 32 (ya cargado)
Saltando chunk 33 (ya cargado)
Saltando chunk 34 (ya cargado)
Saltando chunk 35 (ya cargado)
Saltando chunk 36 (ya cargado)
Saltando chunk 37 (ya cargado)
Saltando chunk 38 (ya cargado)
Saltando chunk 39 (ya cargado)
Saltando chunk 40 (ya cargado)
Saltando chunk 41 (ya cargado)
Saltando chunk 42 (ya cargado)
Saltando chunk 43 (ya cargado)
Saltando chunk 30 (ya cargado)
Saltando chunk 31 (ya cargado)
Saltando chunk 32 (ya cargado)
Saltando chunk 33 (ya cargado)
Saltando chunk 34 (ya cargado)
Saltando chunk 35 (ya cargado)
Saltando chunk 36 (ya cargado)
Saltando chunk 37 (ya cargado)
Saltando chunk 38 (ya cargado)
Saltando chunk 39 (ya cargado)
Saltando chunk 40 (ya cargado)
Saltando chunk 41 (ya cargado)
Saltando chunk 42 (ya cargado)
Saltando chunk 43 (ya cargado)
Saltando chunk 44 (ya cargado)
Saltando chunk 45 (ya cargado)
Saltando chunk 46 (ya cargado)
Saltando chunk 47 (ya cargado)
Saltando chunk 48 (ya cargado)
Saltando chunk 49 (ya cargado)
Saltando chunk 50 (ya cargado)
Saltando chunk 51 (ya cargado)
Saltando chunk 52 (ya cargado)
Saltando chunk 53 (ya cargado)
Saltando chunk 54 (ya cargado)
Saltando chunk 55 (ya cargado)
Saltando chunk 56 (ya cargado)
Saltando chunk 57 (ya cargado)
Saltando chunk 44 (ya cargado)
Saltando chunk 45 (ya cargado)
Saltando chunk 46 (ya cargado)
Saltando chunk 47 (ya cargado)
Saltando chunk 48 (ya cargado)
Saltando chunk 49 (ya cargado)
Saltando chunk 50 (ya cargado)
Saltando chunk 51 (ya cargado)
Saltando chunk 52 (ya cargado)
Saltando chunk 53 (ya cargado)
Saltando chunk 54 (ya cargado)
Saltando chunk 55 (ya cargado)
Saltando chunk 56 (ya cargado)
Saltando chunk 57 (ya cargado)
Saltando chunk 58 (ya cargado)
Saltando chunk 59 (ya cargado)
Saltando chunk 60 (ya cargado)
Saltando chunk 61 (ya cargado)
Saltando chunk 62 (ya cargado)
Saltando chunk 63 (ya cargado)
Saltando chunk 64 (ya cargado)
Saltando chunk 65 (ya cargado)
Saltando chunk 66 (ya cargado)
Saltando chunk 67 (ya cargado)
Saltando chunk 68 (ya cargado)
Saltando chunk 69 (ya cargado)
Saltando chunk 70 (ya cargado)
Saltando chunk 71 (ya cargado)
Saltando chunk 58 (ya cargado)
Saltando chunk 59 (ya cargado)
Saltando chunk 60 (ya cargado)
Saltando chunk 61 (ya cargado)
Saltando chunk 62 (ya cargado)
Saltando chunk 63 (ya cargado)
Saltando chunk 64 (ya cargado)
Saltando chunk 65 (ya cargado)
Saltando chunk 66 (ya cargado)
Saltando chunk 67 (ya cargado)
Saltando chunk 68 (ya cargado)
Saltando chunk 69 (ya cargado)
Saltando chunk 70 (ya cargado)
Saltando chunk 71 (ya cargado)
Saltando chunk 72 (ya cargado)
Saltando chunk 73 (ya cargado)
Saltando chunk 74 (ya cargado)
Saltando chunk 75 (ya cargado)
Cargando chunk 76
Saltando chunk 72 (ya cargado)
Saltando chunk 73 (ya cargado)
Saltando chunk 74 (ya cargado)
Saltando chunk 75 (ya cargado)
Cargando chunk 76
Chunk 76 cargado exitosamente
Cargando chunk 77
Chunk 76 cargado exitosamente
Cargando chunk 77
Chunk 77 cargado exitosamente
Cargando chunk 78
Chunk 77 cargado exitosamente
Cargando chunk 78
Chunk 78 cargado exitosamente
Cargando chunk 79
Chunk 78 cargado exitosamente
Cargando chunk 79
Chunk 79 cargado exitosamente
Cargando chunk 80
Chunk 79 cargado exitosamente
Cargando chunk 80
Chunk 80 cargado exitosamente
Cargando chunk 81
Chunk 80 cargado exitosamente
Cargando chunk 81
Chunk 81 cargado exitosamente
Cargando chunk 82
Chunk 81 cargado exitosamente
Cargando chunk 82
Chunk 82 cargado exitosamente
Cargando chunk 83
Chunk 82 cargado exitosamente
Cargando chunk 83
Chunk 83 cargado exitosamente
Cargando chunk 84
Chunk 83 cargado exitosamente
Cargando chunk 84
Chunk 84 cargado exitosamente
Cargando chunk 85
Chunk 84 cargado exitosamente
Cargando chunk 85
Chunk 85 cargado exitosamente
Cargando chunk 86
Chunk 85 cargado exitosamente
Cargando chunk 86
Chunk 86 cargado exitosamente
Cargando chunk 87
Chunk 86 cargado exitosamente
Cargando chunk 87
Chunk 87 cargado exitosamente
Cargando chunk 88
Chunk 87 cargado exitosamente
Cargando chunk 88
Chunk 88 cargado exitosamente
Cargando chunk 89
Chunk 88 cargado exitosamente
Cargando chunk 89
Chunk 89 cargado exitosamente
Cargando chunk 90
Chunk 89 cargado exitosamente
Cargando chunk 90
Chunk 90 cargado exitosamente
Cargando chunk 91
Chunk 90 cargado exitosamente
Cargando chunk 91
Chunk 91 cargado exitosamente
Cargando chunk 92
Chunk 91 cargado exitosamente
Cargando chunk 92
Chunk 92 cargado exitosamente
Cargando chunk 93
Chunk 92 cargado exitosamente
Cargando chunk 93
Chunk 93 cargado exitosamente
Cargando chunk 94
Chunk 93 cargado exitosamente
Cargando chunk 94
Chunk 94 cargado exitosamente
Cargando chunk 95
Chunk 94 cargado exitosamente
Cargando chunk 95
Chunk 95 cargado exitosamente
Cargando chunk 96
Chunk 95 cargado exitosamente
Cargando chunk 96
Chunk 96 cargado exitosamente
Cargando chunk 97
Chunk 96 cargado exitosamente
Cargando chunk 97
Chunk 97 cargado exitosamente
Cargando chunk 98
Chunk 97 cargado exitosamente
Cargando chunk 98
Chunk 98 cargado exitosamente
Cargando chunk 99
Chunk 98 cargado exitosamente
Cargando chunk 99
Chunk 99 cargado exitosamente
Cargando chunk 100
Chunk 99 cargado exitosamente
Cargando chunk 100
Chunk 100 cargado exitosamente
Chunk 100 cargado exitosamente

In [26]:
# Query para verificar registros duplicados en la tabla transaction
query_duplicados = """
SELECT * FROM `gen-lang-client-0721975631.Ordenes.transaction` group by all having count(*) > 1
"""

# Ejecutar la query
df_duplicados = read_gbq(
    query_duplicados,
    project_id="gen-lang-client-0721975631",
    dialect="standard",
    location="US"
)

print(f"Total de registros duplicados encontrados: {len(df_duplicados)}")
df_duplicados.head(20)

Total de registros duplicados encontrados: 12000

c:\Users\flavi\OneDrive\Escritorio\Mineria de datos\Data Coding\taller\venv\lib\site-packages\google\cloud\bigquery\table.py:2689: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

,transaction_id,user_id,status,amount,currency,paid_at
0,44e21da6-89f8-4c62-b195-fcad20367c8e,user_001,CANCELADA,104.75,USD,2025-02-19 10:35:00
1,bf8f64c8-5c0f-4d09-90c7-fe377565adfd,user_001,CANCELADA,76.67,USD,2025-07-08 8:13:00
2,d153a17c-b83f-46b7-a9d0-9747d66e9ccc,user_001,CANCELADA,433.34,USD,2025-01-26 16:14:00
3,120c249f-6665-4376-8b33-5db324eaad56,user_001,CANCELADA,68.89,USD,2025-08-08 6:53:00
4,356d50bc-a161-4578-b9b9-96964450fb13,user_001,CANCELADA,81.64,USD,2025-08-19 1:46:00
5,2ce36a73-b47f-43bc-82bd-faa06e17c54e,user_001,CANCELADA,477.57,USD,2025-02-20 16:36:00
6,2035db11-be36-4cc3-8cfd-5542938a76b2,user_001,CANCELADA,168.68,USD,2025-08-06 4:45:00
7,db9734b3-99c0-4691-8c97-e704ed2dc364,user_001,CANCELADA,311.24,USD,2025-05-04 16:10:00
8,cd708baa-5d65-4704-8b47-96d6a94fc7ed,user_001,CANCELADA,363.29,USD,2025-01-31 17:24:00
9,140168d4-e926-4e65-8694-3f7e5247e456,user_001,CANCELADA,398.98,USD,2025-07-13 18:40:00
10,bfc63c66-4fe4-4cdb-8da1-06f1feb4fbdb,user_001,CANCELADA,17.23,USD,2025-09-17 6:32:00
11,6dc404fa-b52f-42c2-8527-bcfeb2894429,user_001,CANCELADA,468.95,USD,2025-07-22 17:59:00
12,f10d8503-49ab-4a9b-9d57-ff9a9c4cd54c,user_001,CANCELADA,407.53,USD,2025-09-05 23:00:00
13,68ecbc95-91c0-40d5-b466-a30846bfdb75,user_001,CANCELADA,297.08,USD,2025-06-17 13:56:00
14,b87a96e4-583f-4704-9ea2-13852b66eead,user_001,CANCELADA,282.36,USD,2025-07-20 12:14:00
15,9097e4f0-2907-45a7-bf80-cf2192932c21,user_001,CANCELADA,162.58,USD,2025-02-04 17:47:00
16,58350eff-6bb6-4577-bdbf-4d01a1c89366,user_001,CANCELADA,369.46,USD,2025-04-27 8:37:00
17,7a4da33b-2035-42fc-b813-ce03b42b2adc,user_001,CANCELADA,60.80,USD,2025-08-18 12:16:00
18,4d728dba-c84f-498b-a421-f1c6de2e16ac,user_001,CANCELADA,324.49,USD,2025-06-21 7:35:00
19,dcec957a-bb21-4586-a3dd-ef5f773da9d9,user_001,CANCELADA,141.51,USD,2025-05-12 13:09:00

In [27]:
# Primero, verifica el total de registros antes de eliminar duplicados
query_count = """
SELECT COUNT(*) as total_registros
FROM `gen-lang-client-0721975631.Ordenes.transaction`
"""
df_count = read_gbq(query_count, project_id="gen-lang-client-0721975631", dialect="standard", location="US")
print(f"Total de registros antes de eliminar duplicados: {df_count['total_registros'].iloc[0]}")

Total de registros antes de eliminar duplicados: 1212000

c:\Users\flavi\OneDrive\Escritorio\Mineria de datos\Data Coding\taller\venv\lib\site-packages\google\cloud\bigquery\table.py:2689: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

In [28]:
# Eliminar duplicados creando una nueva tabla limpia con DISTINCT
# Opción 1: Crear tabla temporal sin duplicados
query_eliminar_duplicados = """
CREATE OR REPLACE TABLE `gen-lang-client-0721975631.Ordenes.transaction_clean` AS
SELECT DISTINCT *
FROM `gen-lang-client-0721975631.Ordenes.transaction`
"""

# Ejecutar desde BigQuery directamente
from google.cloud import bigquery
client = bigquery.Client(project='gen-lang-client-0721975631')
query_job = client.query(query_eliminar_duplicados, location='US')
result = query_job.result()

print("✓ Tabla limpia 'transaction_clean' creada exitosamente sin duplicados")

✓ Tabla limpia 'transaction_clean' creada exitosamente sin duplicados

In [29]:
# Verificar que la tabla limpia no tiene duplicados
query_verificar = """
SELECT COUNT(*) as total_registros_limpios
FROM `gen-lang-client-0721975631.Ordenes.transaction_clean`
"""
df_verificar = read_gbq(query_verificar, project_id="gen-lang-client-0721975631", dialect="standard", location="US")
print(f"Total de registros en tabla limpia: {df_verificar['total_registros_limpios'].iloc[0]}")

# Verificar duplicados en la nueva tabla
query_dup_clean = """
SELECT COUNT(*) as duplicados
FROM (
    SELECT *, COUNT(*) as cnt
    FROM `gen-lang-client-0721975631.Ordenes.transaction_clean`
    GROUP BY ALL
    HAVING COUNT(*) > 1
)
"""
df_dup = read_gbq(query_dup_clean, project_id="gen-lang-client-0721975631", dialect="standard", location="US")
print(f"Duplicados restantes: {df_dup['duplicados'].iloc[0]}")

Total de registros en tabla limpia: 1200000
Duplicados restantes: 0

In [ ]:
# Importar librerías necesarias
import pandas as pd
import json
import os
from pandas_gbq import to_gbq
from dotenv import load_dotenv
import glob

# Cargar variables de entorno
load_dotenv()

# Configurar proyecto de BigQuery
project_id = "gen-lang-client-0721975631"
dataset_id = "json_dbt"  # Cambia esto al dataset que quieras usar
table_name = "publicaciones_raw"  # Nombre de la tabla destino

# Función para procesar un archivo JSON
def process_json_file(file_path):
    # Extraer el activity_id del nombre del archivo (ej: 13199.json -> 13199)
    activity_id = os.path.splitext(os.path.basename(file_path))[0]
    
    # Leer el contenido del JSON como string
    with open(file_path, 'r', encoding='utf-8') as f:
        json_raw = f.read()
    
    return {
        'activity_id': activity_id,
        'json_raw': json_raw
    }

# Procesar todos los archivos JSON en la carpeta json/
json_folder = 'json'
json_files = glob.glob(os.path.join(json_folder, '*.json'))

print(f"Se encontraron {len(json_files)} archivos JSON")

# Lista para almacenar todos los registros
all_records = []

for json_file in json_files:
    print(f"Procesando: {json_file}")
    try:
        record = process_json_file(json_file)
        all_records.append(record)
    except Exception as e:
        print(f"Error procesando {json_file}: {str(e)}")

# Crear DataFrame
df = pd.DataFrame(all_records)

print(f"\nDataFrame creado con {len(df)} registros")
print("\nPrimeras filas:")
print(df.head())

# Subir a BigQuery
print(f"\nSubiendo datos a BigQuery: {dataset_id}.{table_name}")
try:
    to_gbq(
        df, 
        f'{dataset_id}.{table_name}', 
        project_id=project_id, 
        if_exists='replace',  # Cambia a 'append' si quieres agregar datos
        location='US'
    )
    print(f"✓ Datos cargados exitosamente a {dataset_id}.{table_name}")
except Exception as e:
    print(f"Error al cargar a BigQuery: {str(e)}")

# Verificar la carga
from pandas_gbq import read_gbq
query = f"""
SELECT COUNT(*) as total_registros
FROM `{project_id}.{dataset_id}.{table_name}`
"""
df_count = read_gbq(query, project_id=project_id, dialect="standard", location="US")
print(f"\nTotal de registros en BigQuery: {df_count['total_registros'].iloc[0]}")

In [8]:
import pandas as pd
import json
import os
from pandas_gbq import to_gbq

# Ruta de la carpeta con los archivos JSON
json_folder = 'json'

# Listas para almacenar los datos
activity_ids = []
json_contents = []

# Leer todos los archivos JSON de la carpeta
for filename in os.listdir(json_folder):
    if filename.endswith('.json'):
        # Obtener el nombre sin extensión
        activity_id = os.path.splitext(filename)[0]
        
        # Leer el contenido del archivo JSON
        file_path = os.path.join(json_folder, filename)
        try:
            with open(file_path, 'r', encoding='utf-8') as f:
                json_content = json.load(f)
            
            activity_ids.append(activity_id)
            json_contents.append(json_content)
        except Exception as e:
            print(f"Error procesando {filename}: {e}")

# Crear el DataFrame con json_normalize para manejar estructuras anidadas
df = pd.json_normalize(json_contents)

print(f"Total de archivos JSON en carpeta: {len([f for f in os.listdir(json_folder) if f.endswith('.json')])}")
print(f"Total de registros procesados exitosamente: {len(df)}")
print(f"Archivos no procesados: {len([f for f in os.listdir(json_folder) if f.endswith('.json')]) - len(df)}")


""" print(f"Total de archivos procesados: {len(df)}")
print(df.head())

# Cargar a BigQuery
to_gbq(df, 'json_dbt.tabla_base', project_id='gen-lang-client-0721975631', if_exists='replace')
print("Datos cargados exitosamente a BigQuery") """

' print(f"Total de archivos procesados: {len(df)}")\nprint(df.head())\n\n# Cargar a BigQuery\nto_gbq(df, \'json_dbt.tabla_base\', project_id=\'gen-lang-client-0721975631\', if_exists=\'replace\')\nprint("Datos cargados exitosamente a BigQuery") '

In [9]:
df

,activityid,fields,facultyid,coauthors,status,userid,attachments
0,10002,"{'Type': 'Poster Presentation', 'Title of Pres...",113083415,"{'51851': {'firstname': 'Marie', 'middleinitia...","[{'id': 10002, 'status': 'Accepted', 'term': '...",113083415,[]
1,10003,"{'Type': 'Presentation', 'Title of Presentatio...",111301723,"{'51854': {'firstname': 'Jan', 'middleinitial'...","[{'id': 10003, 'status': 'Accepted', 'term': '...",111301723,[]
2,10007,"{'Type': 'Presentation', 'Title of Presentatio...",112033784,"{'113500': {'firstname': 'Beret', 'middleiniti...","[{'id': 10007, 'status': 'Completed/Published'...",112033784,[]
3,10008,"{'Type': 'Presentation', 'Title of Presentatio...",111110143,"{'51871': {'firstname': 'Alexandra', 'middlein...","[{'id': 10008, 'status': 'Completed/Published'...",111110143,[]
4,10009,"{'Type': 'Presentation', 'Title of Presentatio...",111110143,"{'51876': {'firstname': 'Alexandra', 'middlein...","[{'id': 10009, 'status': 'Completed/Published'...",111110143,[]
...,...,...,...,...,...,...,...
42308,9988,"{'Type': 'Presentation', 'Title of Presentatio...",113161450,"{'121595': {'firstname': 'Reshmi', 'middleinit...","[{'id': 9988, 'status': 'Completed/Published',...",113161450,[]
42309,9989,"{'Type': 'Presentation', 'Title of Presentatio...",111669970,"{'88118': {'firstname': 'Roger', 'middleinitia...","[{'id': 9989, 'status': 'Completed/Published',...",111669970,[]
42310,9990,"{'Type': 'Presentation', 'Title of Presentatio...",114004157,"{'92165': {'firstname': 'Kelly', 'middleinitia...","[{'id': 9990, 'status': 'Completed/Published',...",114004157,[]
42311,9991,"{'Type': 'Presentation', 'Title of Presentatio...",114004157,"{'92180': {'firstname': 'Kelly', 'middleinitia...","[{'id': 9991, 'status': 'Completed/Published',...",114004157,[]
42312,9992,"{'Type': 'Presentation', 'Title of Presentatio...",114004157,"{'92153': {'firstname': 'Kelly', 'middleinitia...","[{'id': 9992, 'status': 'Accepted', 'term': 'F...",114004157,[]